@model DynamicCollections.Models.PersonsViewModel
<br />

<form method="post" class="form-inline">
    <div class="persons">
        @foreach (var person in Model.Persons)
        {
            Html.RenderPartial("Person", person);
        }
    </div>
    <button type="button" class="btn btnprimary addPersonButton">Add</button>
    <br /><br />
    <button type="submit" class="btn btn-success">Save</button>
</form>

@section scripts
{
<script>
    $(".addPersonButton").on("click", function () {
        $.get("@Url.Action("RenderPerson")", function (data) {
            $(".persons").append(data);
        });
    });

    $(document).on("click", ".removePersonButton", function () {
        $(this).parents(".person").remove();
    });
</script>
}
