@using DynamicCollections.Models
@using HtmlHelpers.BeginCollectionItemCore
@model DynamicCollections.Models.Person

<div class="person">
    @using (Html.BeginCollectionItem("Persons"))
    {
        <div class="form-group">
            <label>First Name</label>
            <input asp-for="FirstName" placeholder="Required" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input asp-for="LastName" placeholder="" class="form-control" />
        </div>

        <button type="button" class="btn btndanger removePersonButton">Remove</button>
        <hr />
    }
</div>