@using DynamicCollections.Models
@using HtmlHelpers.BeginCollectionItemCore
@model DynamicCollections.Models.Person

<div class="person">
    @using (Html.BeginCollectionItem(nameof(PersonsCollection.Persons)))
    {
        <div class="form-group">
            <label>FirstName</label>
            <input asp-for="FirstName" placeholder="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Surname</label>
            <input asp-for="Surname" placeholder="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <button type="button" class="btn btndanger removePersonButton">Remove</button>
        <hr />
    }
</div>